/* HERO --------------------------------------------------------- */
.hero {
    background-color: var(--clr-bg);
    display: flex;
    justify-content: space-between;
    padding: 6rem 9rem;
}

.hero__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5rem;
    width: 48rem;
}

.hero__headline {
    font-size: 2.8rem;
    color: var(--clr-heading);
}

.hero__subtitle {
    color: var(--clr-heading);
    font-size: 1.2rem;
}

.hero__btn {
    background-color: var(--clr-accent);
    border: none;
    border-radius: 30px;
    padding: 1rem 4rem;
    width: max-content;
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.hero__img {
    width: 568px;
    height: 475px;
}

/* RECOMMENDATIONS ---------------------------------------------- */
.recs {
    padding: 5rem 9rem 7rem 9rem;
}

.recs__subheading {
    color: var(--clr-heading);
    font-size: 1.7rem;
    margin-bottom: 3rem;
}


/* CARDS -------------------------------------------------------- */
.card {
    text-decoration: none;
    position: relative;
}

.card__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width:  100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card__destination-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFF;
    text-align: right;
    position: absolute;
    bottom: 20px;
    left: 210px;
}